body {
    background-color: rgb(250,250,250);
}
textarea {
    resize: none;
}

label {
    margin-bottom: 1%;
}

h5 {
    color: black;
}

textarea {
    height: 250px;
    border-radius: 15px;
}

#emailcontent {
    margin-top: -60px;
    padding: 0;
}

.form-group {
    margin-bottom: 2%;
}

.form-row {
    .subform {
        border-radius: 10px;
        padding: 3%;
        background-color: lighten(lightblue, 10%);
    }
}
