<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="Benoit DELAMEA" content="Inscription concours"/>

    <title>PPR - Upload</title>

    <!-- Scripts Frameworks-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.4.min.js"></script>

    <!-- CSS files -->
    <link rel="stylesheet" href="styles/css/2-upload.css" />

    <!-- Scripts Files-->
    <script type="text/javascript">
    AWS.config.update({accessKeyId: 'AKIAJ4VXPOPOW52ZJZRA', secretAccessKey: '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'});
    AWS.config.region = 'eu-west-1';
    </script>
    <script src="scripts/2-upload.js"></script>

    <!-- Logo onglet -->
    <link rel="icon" type="icon/png" href="images/tab-icon.png">
</head>


<body ng-app="main">
    <div class="header">
        <img id="header-screen" src="images/header-allin.png" alt="Prix Pascal Rigaud" />
        <img id="header-phone" src="images/header-allin-phone.png" alt="Prix Pascal Rigaud" />
    </div>
    <div class="back">
        <a href="index.html">&lt; RETOUR A LA PAGE D'ACCUEIL</a>
    </div>
    <div ng-controller="index">
        <div class="container-fluid">
            <form class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 form-horizontal">
                <div class="form-group" id="inputText">
                    <label class="control-label col-sm-4 col-xs-12">Nom de l'équipe :</label>
                    <div class="col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                        <input type="text" class="form-control" id="teamName" ng-disabled="readyToGo" ng-init="read = true" ng-model="teamName">
                    </div>
                    <label class="control-label col-sm-4 col-xs-12" style="margin-top: 2%;">Votre Business Unit :</label>
                    <div class="col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                        <input type="text" class="form-control" id="buName" ng-disabled="readyToGo" ng-init="read = true" ng-model="buName" placeholder="(eln,  dpff,  def)">
                    </div>
                </div>
                <div class="form-group upFields">
                    <label class="control-label col-sm-4 col-xs-12">Fichier Excel :</label>
                    <div class="col-sm-6 fields">
                        <div class="col-lg-3 col-sm-4 col-xs-4 col-xs-offset-0 oneField">
                            <label class="btn btn-file pathInput" ng-disabled="prevDataOk.init">
                                <span class="datatog" data-toggle="tooltip" title="{{discours}}">{{browser.browsing1}}</span><input type="file" ng-disabled="prevDataOk.init" class="uploadInput" id="file-chooser1" />
                            </label>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-xs-6 col-xs-offset-0 oneField">
                            <label ng-class="newClass.excel" data-toggle="tooltip" data-placement="right" title="{{alertExcel}}">{{excelPath}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group upFields">
                    <label class="control-label col-sm-4 col-xs-12">Fichier Vidéo :</label>
                    <div class="col-sm-6 fields">
                        <div class="col-lg-3 col-sm-4 col-xs-4 oneField">
                            <label class="btn btn-file pathInput" ng-disabled="prevDataOk.init">
                                <span class="datatog" data-toggle="tooltip" title="{{discours}}">{{browser.browsing2}}</span><input type="file" ng-disabled="prevDataOk.init" class="uploadInput" id="file-chooser2" />
                            </label>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-xs-6 col-xs-offset-0 oneField">
                            <label ng-class="newClass.video" data-toggle="tooltip" data-placement="right" title="{{alertVideo}}">{{videoPath}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group button">
                    <div class="text-center">
                        <button type="button" class="btn btn-info" id="upload-button" ng-click="upload()" ng-hide="prevDataOk.bttn"><img src="images/button-span.png" alt="/" id="button-span" />Enregistrer mon projet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


</html>
