body {
    width: 100%;
    overflow:hidden;
    overflow-y: scroll;
    .header {
        #header-screen {
            width:100%;
            margin: 0;
            height: auto;
        }
        #header-phone {
            display: none;
        }
    }
    .container-fluid {
        #presentation-quote {
            .part1 {
                h3 {
                    font-weight: bold;
                    font-family: 'Arial' sans-serif;
                    font-size: 24px;
                    color: rgb(22, 28, 124);
                }
                p{
                    font-family: 'Arial' sans-serif;
                    font-size: 18px;
                }
            }
            .part2 {
                margin-top: 2%;
                #open {
                    height: 10px;
                    width: 15px;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    margin-left: -25px;
                }
                #close {
                    @extend #open;
                    margin-left: 10px;
                }
                #goNextLine {
                    display: inline-block;
                }
                p {
                    font-family: 'Arial' sans-serif;
                    font-size: 16px;
                    color: rgb(22, 28, 124);
                }
                h5 {
                    font-family: 'Arial' sans-serif;
                    font-size: 16px;
                    color: rgb(22, 28, 124);
                    font-weight: bold;
                }
            }
        }
        .part3 {
            .criterias {
                margin-top: 3%;
                margin-bottom: 5%;
                .row {
                    div {
                        align-items: center;
                        padding-left: 0.8%;
                        padding-right: 0.8%;
                        .subdiv {
                            text-align: center;
                            font-size: 16px;
                            background-color: rgb(228, 244, 187);
                            display: table;
                        }
                        span {
                            display: table-cell;
                            vertical-align: middle;
                            padding-left: 5%;
                            padding-right: 5%;
                        }
                        .col1 {
                            background-color: rgb(22, 28, 124);
                            color: darken(white, 10%);
                        }
                    }
                    .first {
                        .subdiv {
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                    }
                    .last {
                        .subdiv {
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }
                    }
                }
                .row1 {
                    div {
                        padding: 0.8%;
                        .subdiv {
                            text-align: center;
                            border: 3px solid black;
                            border-radius: 12px;
                            font-weight: bold;
                            font-size: 18px;
                            background-color: white;
                        }
                    }
                }
            }
            .info-button {
                margin-top: 14%;
                text-align: center;
                #dates {
                    font-size: 16px;
                    border: 1px solid black;
                    border-radius: 15px;
                    a {
                        color: rgb(22, 28, 124);
                        font-weight: bold;
                    }
                    h5 {
                        font-weight: bold;
                        font-size: 15px;
                        color: rgb(22, 28, 124);
                    }
                }
                .btn {
                    font-size: 20px;
                    background-color: rgb(169, 229, 236);
                    color: rgb(22, 28, 124);
                    padding: 15px 30px;
                    border: none;
                    border-radius: 0;
                    &:hover {
                        background-color: darken(rgb(169, 229, 236), 10%);
                    }
                    #button-span {
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    #dates {
        margin-bottom: 7%;
    }
    .criterias {
        .row {
            div {
                .subdiv {
                    height: 70px;
                }
            }
        }
        .row1 {
            div {
                padding: 0.8%;
                .subdiv {
                    height: 70px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .header {
            #header-screen {
                display: none;
            }
            #header-phone {
                display: inline;
                width:100%;
                margin: 0;
                height: auto;
            }
        }
        .container-fluid {
            #presentation-quote {
                margin-bottom: 1%;
                .part1 {
                    p {
                        font-size: 14px;
                    }
                    h3 {
                        font-size: 16px;
                    }
                }
                .part2 {
                    p {
                        font-size: 14px;
                    }
                    h5 {
                        font-size: 15px;
                    }
                }
            }
            .criterias {
                .row {
                    div {
                        padding-left: 0.2%;
                        padding-right: 0.2%;
                        .subdiv {
                            height: 50px;
                            span {
                                font-size: 12px;
                                padding-left: 3%;
                                padding-right: 3%;
                            }
                            .long {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .info-button {
                margin-bottom: 5%;
                #dates {
                    h5 {
                        font-size: 12px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .btn {
                    margin-top: 7%;
                }
            }
        }
    }
}
