body {
    .header {
        #header-screen {
            width:100%;
            height: auto;
        }
        #header-phone {
            display: none;
        }
    }
    .back {
        align-content: center;
        text-align: center;
        margin: 5px auto 20px;
        margin-bottom: 5%;
        a {
            text-decoration: none;
            font: {
                family: "Arial", "Calibri", sans-serif;
                size: 10px;
            }
            color: #304086;
        }
    }
    .container-fluid {

    }
}

@media (max-width: 768px) {
    body {
        .header {
            #header-screen {
                display: none;
            }
            #header-phone {
                display: inline;
                width:100%;
                height: auto;
            }
        }
        .container-fluid {

        }
    }
}
