body {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll; }
  body .header #header-screen {
    width: 100%;
    margin: 0;
    height: auto; }
  body .header #header-phone {
    display: none; }
  body .container-fluid #presentation-quote .part1 h3 {
    font-weight: bold;
    font-family: 'Arial' sans-serif;
    font-size: 24px;
    color: #161c7c; }
  body .container-fluid #presentation-quote .part1 p {
    font-family: 'Arial' sans-serif;
    font-size: 18px; }
  body .container-fluid #presentation-quote .part2 {
    margin-top: 2%; }
    body .container-fluid #presentation-quote .part2 #open, body .container-fluid #presentation-quote .part2 #close {
      height: 10px;
      width: 15px;
      margin-bottom: 20px;
      margin-right: 10px;
      margin-left: -25px; }
    body .container-fluid #presentation-quote .part2 #close {
      margin-left: 10px; }
    body .container-fluid #presentation-quote .part2 #goNextLine {
      display: inline-block; }
    body .container-fluid #presentation-quote .part2 p {
      font-family: 'Arial' sans-serif;
      font-size: 16px;
      color: #161c7c; }
    body .container-fluid #presentation-quote .part2 h5 {
      font-family: 'Arial' sans-serif;
      font-size: 16px;
      color: #161c7c;
      font-weight: bold; }
  body .container-fluid .part3 .criterias {
    margin-top: 3%;
    margin-bottom: 5%; }
    body .container-fluid .part3 .criterias .row div {
      align-items: center;
      padding-left: 0.8%;
      padding-right: 0.8%; }
      body .container-fluid .part3 .criterias .row div .subdiv {
        text-align: center;
        font-size: 16px;
        background-color: #e4f4bb;
        display: table; }
      body .container-fluid .part3 .criterias .row div span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 5%;
        padding-right: 5%; }
      body .container-fluid .part3 .criterias .row div .col1 {
        background-color: #161c7c;
        color: #e6e6e6; }
    body .container-fluid .part3 .criterias .row .first .subdiv {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
    body .container-fluid .part3 .criterias .row .last .subdiv {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; }
    body .container-fluid .part3 .criterias .row1 div {
      padding: 0.8%; }
      body .container-fluid .part3 .criterias .row1 div .subdiv {
        text-align: center;
        border: 3px solid black;
        border-radius: 12px;
        font-weight: bold;
        font-size: 18px;
        background-color: white; }
  body .container-fluid .part3 .info-button {
    margin-top: 14%;
    text-align: center; }
    body .container-fluid .part3 .info-button #dates {
      font-size: 16px;
      border: 1px solid black;
      border-radius: 15px; }
      body .container-fluid .part3 .info-button #dates a {
        color: #161c7c;
        font-weight: bold; }
      body .container-fluid .part3 .info-button #dates h5 {
        font-weight: bold;
        font-size: 15px;
        color: #161c7c; }
    body .container-fluid .part3 .info-button .btn {
      font-size: 20px;
      background-color: #a9e5ec;
      color: #161c7c;
      padding: 15px 30px;
      border: none;
      border-radius: 0; }
      body .container-fluid .part3 .info-button .btn:hover {
        background-color: #7fd8e3; }
      body .container-fluid .part3 .info-button .btn #button-span {
        height: 25px; }

@media (min-width: 769px) {
  #dates {
    margin-bottom: 7%; }
  .criterias .row div .subdiv {
    height: 70px; }
  .criterias .row1 div {
    padding: 0.8%; }
    .criterias .row1 div .subdiv {
      height: 70px; } }

@media (max-width: 768px) {
  body .header #header-screen {
    display: none; }
  body .header #header-phone {
    display: inline;
    width: 100%;
    margin: 0;
    height: auto; }
  body .container-fluid #presentation-quote {
    margin-bottom: 1%; }
    body .container-fluid #presentation-quote .part1 p {
      font-size: 14px; }
    body .container-fluid #presentation-quote .part1 h3 {
      font-size: 16px; }
    body .container-fluid #presentation-quote .part2 p {
      font-size: 14px; }
    body .container-fluid #presentation-quote .part2 h5 {
      font-size: 15px; }
  body .container-fluid .criterias .row div {
    padding-left: 0.2%;
    padding-right: 0.2%; }
    body .container-fluid .criterias .row div .subdiv {
      height: 50px; }
      body .container-fluid .criterias .row div .subdiv span {
        font-size: 12px;
        padding-left: 3%;
        padding-right: 3%; }
      body .container-fluid .criterias .row div .subdiv .long {
        font-size: 10px; }
  body .container-fluid .info-button {
    margin-bottom: 5%; }
    body .container-fluid .info-button #dates h5 {
      font-size: 12px; }
    body .container-fluid .info-button #dates p {
      font-size: 12px; }
    body .container-fluid .info-button .btn {
      margin-top: 7%; } }
