body .header #header-screen {
  width: 100%;
  height: auto; }

body .header #header-phone {
  display: none; }

body .back {
  align-content: center;
  text-align: center;
  margin: 5px auto 20px;
  margin-bottom: 5%; }
  body .back a {
    text-decoration: none;
    font-family: "Arial", "Calibri", sans-serif;
    font-size: 10px;
    color: #304086; }

body .container-fluid {
  font-size: 16px; }
  body .container-fluid #inputText input:-moz-placeholder {
    font-style: italic; }
  body .container-fluid #inputText input::-webkit-input-placeholder {
    font-style: italic; }
  body .container-fluid #inputText input.placeholder {
    font-style: italic; }
  body .container-fluid form {
    margin-bottom: 3%; }
    body .container-fluid form label {
      color: #161c7c;
      font-size: 16px; }
    body .container-fluid form #teamName, body .container-fluid form #buName {
      border-radius: 0;
      border: 1px solid #d9d9d9;
      box-shadow: none;
      font-size: 16px; }
    body .container-fluid form .upFields .uploadInput {
      display: none; }
    body .container-fluid form .upFields .fields {
      vertical-align: middle; }
      body .container-fluid form .upFields .fields .oneField {
        padding: 0; }
        body .container-fluid form .upFields .fields .oneField .btn-file {
          background-color: #a9e5ec;
          border-radius: 0; }
        body .container-fluid form .upFields .fields .oneField .tooltip > .tooltip-inner {
          background-color: lightyellow;
          color: #8a6d3b;
          border: 1px solid #faebcc;
          margin-bottom: 8px;
          min-width: 100px; }
        body .container-fluid form .upFields .fields .oneField .tooltip > .tooltip-arrow {
          border-left-color: #faebcc;
          border-right-color: #faebcc;
          margin-bottom: 8px; }
        body .container-fluid form .upFields .fields .oneField .tooltip.in {
          opacity: 1 !important; }
        body .container-fluid form .upFields .fields .oneField .pathOut {
          width: 95%;
          float: right;
          margin: 0;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 10px;
          font-family: "Helvetica Neue", Helvetica, sans-serif;
          min-height: 34px;
          color: #8a6d3b;
          border: 2px solid #faebcc;
          background-color: #fcf8e3; }
        body .container-fluid form .upFields .fields .oneField .pathOutput, body .container-fluid form .upFields .fields .oneField .pathOutputInit {
          width: 95%;
          float: right;
          margin: 0;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 10px;
          font-family: "Helvetica Neue", Helvetica, sans-serif;
          min-height: 34px;
          background-color: #f7f7f7;
          border: 1px solid #f7f7f7;
          font-weight: normal; }
        body .container-fluid form .upFields .fields .oneField .pathOutputInit {
          color: grey;
          font-style: italic; }
        body .container-fluid form .upFields .fields .oneField .pathInput .tooltip > .tooltip-inner {
          background-color: white;
          color: grey;
          border: 1px solid grey;
          margin-bottom: 8px;
          min-width: 160px; }
        body .container-fluid form .upFields .fields .oneField .pathInput .tooltip > .tooltip-arrow {
          border-bottom-color: grey;
          border-top-color: grey;
          border-left-color: white;
          border-right-color: white;
          margin-bottom: 8px; }
        body .container-fluid form .upFields .fields .oneField .pathInput .tooltip.in {
          opacity: 1 !important; }
    body .container-fluid form .button .btn-info {
      margin-top: 2%;
      font-size: 20px;
      background-color: #a9e5ec;
      color: #161c7c;
      padding: 15px 30px;
      border: none;
      border-radius: 0; }
      body .container-fluid form .button .btn-info:hover {
        background-color: #7fd8e3; }
      body .container-fluid form .button .btn-info #button-span {
        height: 25px;
        margin-right: 5px; }

@media (min-width: 769px) {
  .pathInput {
    width: 95%; }
  #buName {
    margin-top: 5%; } }

@media (max-width: 768px) {
  .btn-file {
    float: right; }
  .pathInput {
    width: 70%; }
  body .header #header-screen {
    display: none; }
  body .header #header-phone {
    display: inline;
    width: 100%;
    height: auto; }
  body .container-fluid {
    font-size: 12px;
    text-align: center; }
    body .container-fluid form {
      margin-bottom: 3%; }
      body .container-fluid form label {
        color: #161c7c;
        font-size: 12px; }
      body .container-fluid form #teamName, body .container-fluid form #buName {
        border-radius: 0;
        border: 1px solid #d9d9d9;
        box-shadow: none;
        font-size: 12px; }
      body .container-fluid form #buName {
        border-radius: 0;
        border: 1px solid #d9d9d9;
        box-shadow: none;
        font-size: 12px;
        margin-top: 0; }
    body .container-fluid .upFields .uploadInput {
      display: none; }
    body .container-fluid .upFields .pathOutput, body .container-fluid form .upFields .fields .oneField .pathOutputInit {
      background-color: #e6e6e6; }
    body .container-fluid .btn-info {
      font-size: 16px;
      background-color: #a9e5ec;
      color: #161c7c;
      padding: 10px 20px;
      border: none;
      border-radius: 0; }
      body .container-fluid .btn-info:hover {
        background-color: #7fd8e3; } }
