body .header #header-screen {
  width: 100%;
  height: auto; }

body .header #header-phone {
  display: none; }

body .back {
  align-content: center;
  text-align: center;
  margin: 5px auto 20px;
  margin-bottom: 5%; }
  body .back a {
    text-decoration: none;
    font-family: "Arial", "Calibri", sans-serif;
    font-size: 10px;
    color: #304086; }

@media (max-width: 768px) {
  body .header #header-screen {
    display: none; }
  body .header #header-phone {
    display: inline;
    width: 100%;
    height: auto; } }
