body .header {
  margin-bottom: 5%; }
  body .header #header-screen {
    width: 100%;
    height: auto; }
  body .header #header-phone {
    display: none; }

@media (max-width: 768px) {
  body .header #header-screen {
    display: none; }
  body .header #header-phone {
    display: inline;
    width: 100%;
    height: auto; } }
